
.intro{
  background-image: url('../../images/wholesale.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50%;
  
  
}
.photo-placement{
  position: relative;
  left:40%;
}
